# Data
data/

# Slurm output
slurm_output/


# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.so
.build/
build/
dist/
*.egg-info/
.venv/
venv/
env/
pip-wheel-metadata/


# --- Env/secrets ---
.env
.env.*
*.pem
*.key
/.venv
/.venv-*
/venv
/env

# --- LOGS ---
*.log

# --- Editors/OS ---
.DS_Store
.vscode/
.idea/

*/config.yml.bak


# Plumber 
KG_Plumber/**
!KG_Plumber/process_csv.py
!KG_Plumber/viz_from_csv.py
!KG_Plumber/output/
!KG_Plumber/output/**
!KG_Plumber/get_plumber.sh


# GraphRAG
graphRAG/cache/*
graphRAG/shard


# Draft Files 
draft